PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/assetflow_db
JWT_SECRET=your_jwt_secret_key_here
DEFAULT_ADMIN_EMAIL=admin@assetflow.com
DEFAULT_ADMIN_PASSWORD=change_this_admin_password
NODE_ENV=development
